In [1]:
import pandas as pd

In [2]:
import regex as re

In [3]:
import string

In [4]:
df = pd.read_csv('data/training_data.csv')

In [5]:
df

,ID,User,Text,Sentiment
0,864192,Carly_FTS,I *heart* filling up @dennisschaub desk 1 it...,1
1,523691,Open_Sourcing,"#SocioMat - people create prettier, younger an...",1
2,584154,xxcharlx,no way i dont want the tour to end,0
3,1527961,andreapuddu,@HemalRadia Hi Amazing Brother! Sending Limitl...,1
4,28609,umbec,@flockmaster they are chocolate,1
...,...,...,...,...
999995,1366175,b13thy,@midderhonz i'm good.. off to buy an electric ...,1
999996,681828,HeyyitsALison,@StaceyPaha i know..for youngerr boys..what am...,1
999997,488988,sleepycove,I can't belive it I just got asked for an auto...,1
999998,985613,AmyyXD,i am putting my bb in the fridge so it cant di...,0
999999,1410994,esmeretta,lexo wont come visit me,0

In [6]:
df['lowercase'] = df['Text'].apply(lambda x: " ".join(word.lower() for word in x.split()))

In [7]:
df.head()

,ID,User,Text,Sentiment,lowercase
0,864192,Carly_FTS,I *heart* filling up @dennisschaub desk 1 it...,1,i *heart* filling up @dennisschaub desk 1 it m...
1,523691,Open_Sourcing,"#SocioMat - people create prettier, younger an...",1,"#sociomat - people create prettier, younger an..."
2,584154,xxcharlx,no way i dont want the tour to end,0,no way i dont want the tour to end
3,1527961,andreapuddu,@HemalRadia Hi Amazing Brother! Sending Limitl...,1,@hemalradia hi amazing brother! sending limitl...
4,28609,umbec,@flockmaster they are chocolate,1,@flockmaster they are chocolate

In [8]:
df['notags'] = df['lowercase'].str.replace('[@#]\w*', '')

In [9]:
df['notags']

0         i *heart* filling up  desk 1 it means sales &a...
1          - people create prettier, younger and better ...
2                        no way i dont want the tour to end
3          hi amazing brother! sending limitless (((love...
4                                        they are chocolate
                                ...
999995              i'm good.. off to buy an electric horse
999996     i know..for youngerr boys..what am i doing wi...
999997    i can't belive it i just got asked for an auto...
999998    i am putting my bb in the fridge so it cant di...
999999                              lexo wont come visit me
Name: notags, Length: 1000000, dtype: object

In [10]:
def clean_text_round1(text):
    '''Make text lowercase, remove text in square brackets, remove punctuation and remove words containing numbers.'''
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

In [11]:
round1 = lambda x: clean_text_round1(x)

In [12]:
df['cleaner'] = df['notags'].apply(round1)

In [13]:
df['cleaner']

0         i heart filling up  desk  it means sales amp  ...
1           people create prettier younger and better lo...
2                        no way i dont want the tour to end
3          hi amazing brother sending limitless love you...
4                                        they are chocolate
                                ...
999995                 im good off to buy an electric horse
999996     i knowfor youngerr boyswhat am i doing with m...
999997    i cant belive it i just got asked for an autog...
999998    i am putting my bb in the fridge so it cant di...
999999                              lexo wont come visit me
Name: cleaner, Length: 1000000, dtype: object

In [14]:
df['cleaner'].to_csv('cleanerdata.csv')

In [15]:
from nltk.corpus import stopwords

In [16]:
stop_words = stopwords.words('english')

In [ ]:
df['stopwords'] = df['cleaner'].apply(lambda x: [word for word in x if word not in stop_words])

In [ ]:
df['stopwords']